<div id="home-wrapper" layout="row" layout-fill>
   <md-sidenav flex="20" layout="column" class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-is-locked-open="true" md-whiteframe="4" ng-cloak>
      <md-toolbar flex="noshrink" class="sidenav-header" ng-cloak>
         <div layout="column" layout-align="center center" layout-padding="20">
            <img class="profilepic" ng-src="{{home.user.profilepic}}" ng-cloak>
            <div class="profilename" ng-cloak>{{home.user.name}}</div>
         </div>
      </md-toolbar>
      <md-content flex="noshrink">
         <ul ng-init="home.selected = null">
            <li ng-repeat="datapoint in home.datapoints track by $index" layout="row">
               <md-button flex class="md-ink-ripple md-button menu" ng-class="{'active': $index == home.selected }" ng-click="home.selected = $index; home.selectDatapoint(datapoint)">{{datapoint.name}}</md-button>
            </li>
         </ul>
      </md-content>
   </md-sidenav>

   <md-content flex>
      <div layout="column" layout-fill>
         <md-toolbar layout="row" class="md-accent">
            <h1 class="md-toolbar-tools">Dashboard - Waylo Coding Challenge</h1>
            <div flex></div>
            <md-button ng-click="home.userSignOut()">Logout</md-button>
         </md-toolbar>
         <div flex layout="row">
            <div flex layout="column" layout-padding>
               <!-- <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{home.googleMapsUrl}}">
                  <ng-map center="spain" zoom="2" id="map">
                     <marker ng-repeat="datapoint in home.datapoints" position="{{datapoint.location}}" title="{{datapoint.name}}"></marker>
                  </ng-map>
               </div> -->
               <div id="map"></div>
            </div>
            <div flex="25" layout-align="column" md-whiteframe="1" layout-padding>
               <h3>Selected: {{home.selectedDatapoint.name || 'none'}}</h3>
               <span>{{home.selectedDatapoint}}</span>
            </div>
         </div>
      </div>
   </md-content>
</div>
