<div id="main-wrapper" layout-fill layout="column">
   <div ng-show="main.isLoading">
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
   </div>
   <div id="main-heading" class="md-display-2 md-margin" layout="row" layout-align="center" flex="10">
      Waylo Coding Challenge
   </div>
   <div id="oauth-signin-wrapper" class="md-subhead" layout="row" layout-align="center" flex="20">
      <md-content class="md-padding" flex="35">
         <div layout="row" layout-align="center">
            Sign In Using
         </div>
         <div layout="row">
            <md-button flex="50" class="md-raised md-primary" ng-click="main.oauthSignIn('Facebook')">Facebook</md-button>
            <md-button flex="50" class="md-raised md-primary" ng-click="main.oauthSignIn('Twitter')">Twitter</md-button>
         </div>
         <div layout="row" layout-align="center">
            Or
         </div>
      </md-content>
   </div>
   <div id="form-wrapper" layout="row" layout-align="center start" ng-init="main.user" flex>
      <md-content class="md-padding" flex="30" md-whiteframe>
         <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Login">
               <md-content class="md-padding">
                  <form name="loginForm" ng-submit="main.userLogin(main.user.login)">
                     <md-input-container md-no-float class="md-block">
                        <label>Email</label>
                        <input type="email" ng-model="main.user.login.email" ng-required="true">
                     </md-input-container>
                     <md-input-container md-no-float class="md-block">
                        <label>Password</label>
                        <input type="password" ng-model="main.user.login.password" ng-required="true">
                     </md-input-container>
                     <br>
                     <div layout="row">
                        <md-button flex="100" type="submit" class="md-raised md-primary">Login</md-button>
                     </div>
                  </form>
               </md-content>
            </md-tab>
            <md-tab label="Sign Up">
               <md-content class="md-padding">
                  <form name="signupForm" ng-submit="main.userSignup(main.user.signup)">
                     <md-input-container md-no-float class="md-block">
                        <label>Name</label>
                        <input type="text" ng-model="main.user.signup.name" ng-required="true">
                     </md-input-container>
                     <md-input-container md-no-float class="md-block">
                        <label>Email</label>
                        <input type="email" ng-model="main.user.signup.email" ng-required="true">
                     </md-input-container>
                     <md-input-container md-no-float class="md-block">
                        <label for="">Password</label>
                        <input type="password" ng-model="main.user.signup.password" ng-required="true">
                     </md-input-container>
                     <md-input-container md-no-float class="md-block">
                        <label for="">Confirm Password</label>
                        <input type="password" ng-model="main.user.signup.confirmPassword" ng-required="true">
                     </md-input-container>
                     <md-input-container md-no-float class="md-block">
                        <md-radio-group layout="row" layout-align="space-around" ng-model="main.user.signup.gender">
                           <md-radio-button flex="50" value="Male" class="md-accent">Male</md-radio-button>
                           <md-radio-button flex="50" value="Female" class="md-accent">Female</md-radio-button>
                        </md-radio-group>
                     </md-input-container>
                     <br>
                     <div layout="row">
                        <md-button flex="100" type="submit" class="md-raised md-primary">Sign Up</md-button>
                     </div>
                  </form>
               </md-content>
            </md-tab>
         </md-tabs>
      </md-content>
   </div>
</div>
