/******** COLORS **********/
/**************************/
:root {
   --color-light-grey: #D9E2E2;
   --color-mid-grey: #A3ADAF;
   --color-dark-grey: #738184;
   --color-theme: #546E7A;
   --translucent-white: rgba(255, 255, 255, 0.3);
}
/**************************/
/**************************/

html, body {
   height: 100vh;
}
