@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Rubik:300,400,500,700,900');

html,body {
  height: 100vh;
  /*font-family: 'Rubik', sans-serif;
  font-family: 'Josefin Slab', serif;*/
}

#form-wrapper {
  /*margin-top: -3rem;*/
}
#map {
   height: 500px;
}
md-sidenav ul {
   margin: 0;
   padding: 0;
}
.menu {
   margin: 0;
   padding: 0.35rem;
   border-radius: 0;
}
.sidenav-header {
   max-height: 200px;
}
.profilepic {
   border-radius: 50%;
   height: 120px;
}
.active {
   background-color: grey;
}
